Django<3.3
bcrypt
django-behaviors
django-environ
django-ipware
whitenoise
django-storages
djangorestframework
djangorestframework-camel-case
drf-jwt
drf-yasg
django-filter
django-split-settings
django-healthchecks
redis
sentry-sdk
Pillow
